manifest {
    name = 'Sequential GWAS'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/baillielab/sequential-gwas'
    description = 'Pipeline for the estimation genetic effects in the GenOMICC cohort'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04'
    version = '0.1.0'
}

dag {
    overwrite = true
    depth = 2
}

profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    dev {
        includeConfig 'conf/dev.config'
    }
    ci {
        includeConfig 'conf/ci.config'
    }
}

params {
    // Genotyping Arrays in .ped/.map format
    R8_GENOTYPES = "/odp-beegfs/a015/linked_data/preqc/array-pre-imputation/wp5-gwas-r8-under90excl_2021Sep16/PLINK_190921_0906/wp5-gwas-r8-under90excl_2021Sep16.{ped,map}"
    BEFORE_2024_GENOTYPES = "/odp-beegfs/a015/linked_data/preqc/array-pre-imputation/20210920_20231206_QC_VFinal/PLINK_040724_0954/20210920_20231206_QC_VFinal.{ped,map}"
    SINCE_2024_GENOTYPES = "/odp-beegfs/a015/linked_data/preqc/array-pre-imputation/20240604_20240610_QC_VFinal/PLINK_040724_0114/20240604_20240610_QC_VFinal.{ped,map}"
    // Chain file
    params.GRC37_TO_GRC38_CHAIN_FILE = "${projectDir}/assets/hg19ToHg38.over.chain"
    //Regenie parameters
    REGENIE_BSIZE = 1000
}   
