manifest {
    name = 'Sequential GWAS'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/baillielab/sequential-gwas'
    description = 'Pipeline for the estimation genetic effects in the GenOMICC cohort'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04'
    version = '0.1.0'
}

profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
}
