manifest {
    name = 'FlowOMICC'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/baillielab/genomicc-workflows'
    description = 'Workflows to process and analyse genomic data originating from the GenOMICC project.'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04'
    version = '0.1.0'
}

dag {
    overwrite = true
    depth = 2
}

process {
    memory = { 8.GB * task.attempt }
    time = { 48.hour }
    cpus = 1

    withLabel: 'multithreaded' {
        cpus = 4
    }

    withLabel: 'bigmem' {
        memory = { 16.GB * task.attempt }
    }

    withLabel: 'hyperthreaded' {
        cpus = 8
    }
}

profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    dev {
        includeConfig 'conf/dev.config'
    }
    dockerci {
        includeConfig 'conf/docker-ci.config'
    }
    singularityci {
        includeConfig 'conf/singularity-ci.config'
    }
    odap {
        includeConfig 'conf/odap.config'
    }
    eddie {
        includeConfig 'conf/eddie.config'
    }
    devsingularity {
        includeConfig 'conf/dev-singularity.config'
    }
}
