params {
    GATK_DIR = "/mnt/odap-beegfs/a015/linked_data/preqc/gatk"
    KGP_DIR = "/mnt/odap-beegfs/software/gwas-resources/1000-genomes-HC"
    WGS_GVCFS = "/mnt/odap-beegfs/a015/linked_data/preqc/wgs-reheadered/gvcf_LP30020/LP"
    COVARIATES = "/mnt/odap-beegfs/a015/linked_data/postqc/array/a015_covariates.csv"
    R8_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/wp5-gwas-r8-under90excl_2021Sep16/PLINK_190921_0906/wp5-gwas-r8-under90excl_2021Sep16"
    BEFORE_2024_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/20210920_20231206_QC_VFinal/PLINK_040724_0954/20210920_20231206_QC_VFinal"
    SINCE_2024_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/20240604_20240610_QC_VFinal/PLINK_040724_0114/20240604_20240610_QC_VFinal"
}

process {
    container = "/mnt/odap-beegfs/a015/dev/singularity-image/genomicc-container.sif"
}