params {
    // Shared parameters
    // CombineGeneticDatasets specific parameters
    N_PCS = 20
    WGS_GVCFS = "" // Path to your WGS gvcfs, if you have any "/mnt/odap-beegfs/a015/linked_data/preqc/wgs-reheadered/gvcf_LP30020/LP"
    R8_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/wp5-gwas-r8-under90excl_2021Sep16/PLINK_190921_0906/wp5-gwas-r8-under90excl_2021Sep16" // Path to the R8 release genotypes
    BEFORE_2024_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/20210920_20231206_QC_VFinal/PLINK_040724_0954/20210920_20231206_QC_VFinal" // Path to the release 2021-2023 genotypes
    SINCE_2024_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/20240604_20240610_QC_VFinal/PLINK_040724_0114/20240604_20240610_QC_VFinal" // Path to the release 2024-now genotypes
}