params {
    // Global parameters
    N_PCS = 20

    // CombineGeneticDatasets parameters
    WGS_GVCFS = "" // Path to your WGS gvcfs, if you have any "/mnt/odap-beegfs/a015/linked_data/preqc/wgs-reheadered/gvcf_LP30020/LP"
    COVARIATES = "/mnt/odap-beegfs/a015/linked_data/postqc/array/a015_covariates.csv" // Path to your covariates
    R8_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/wp5-gwas-r8-under90excl_2021Sep16/PLINK_190921_0906/wp5-gwas-r8-under90excl_2021Sep16" // Path to the R8 release genotypes
    BEFORE_2024_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/20210920_20231206_QC_VFinal/PLINK_040724_0954/20210920_20231206_QC_VFinal" // Path to the release 2021-2023 genotypes
    SINCE_2024_GENOTYPES = "/mnt/odap-beegfs/a015/linked_data/preqc/array-pre-imputation/20240604_20240610_QC_VFinal/PLINK_040724_0114/20240604_20240610_QC_VFinal" // Path to the release 2024-now genotypes
    
    // Imputation
    GENOTYPES_PREFIX = "../Genomicc/export_20032025/genotypes.arrays_wgs.aggregated.ref_ok" // Path to your genotypes
    TOPMED_TOKEN_FILE = "../Genomicc/topmed-api-token" // The path to your TOPMed API token
    TOPMED_ENCRYPTION_PASSWORD = "" // Your encryption password
    TOPMED_JOBS_LIST = ["job-20250405-193053-285", "job-20250405-193053-303"] // Optional path topmed job-ids list for the DownloadImputed workflow
    N_SAMPLES_PER_IMPUTATION_JOBS = 15000 // Number of samples per imputation job, we are only allowed to submit 20k samples per job and 3 jobs at a time, try to maximize here
}