params {
    PUBLISH_DIR = "gwas_results"
    GENOTYPES_PREFIX = "test/assets/gwas/genotypes/genotypes.arrays_wgs.aggregated"
    IMPUTED_GENOTYPES_PREFIX = "test/assets/gwas/imputed/chr"
    COVARIATES = "test/assets/genomicc/mock.covariates.csv"
    PCA_APPROX = false
    VARIABLES_CONFIG = "test/assets/gwas/covariates/variables_all.yaml"
}