params {
    THOUSANDSGP_DIR = "test/assets/thousands_genomes"
    WGS_GVCFS = "test/assets/mock.odap"
    R8_GENOTYPES = "test/assets/genomicc/mock.release_r8"
    BEFORE_2024_GENOTYPES = "test/assets/genomicc/mock.release_2021_2023"
    SINCE_2024_GENOTYPES = "test/assets/genomicc/mock.release_2024_now"
    QC_MAF = 0.1
    QC_MAC = 5
    QC_GENOTYPE_MISSING_RATE = 0.01
    QC_HWE = 1e-50
    QC_INDIVIDUAL_MISSING_RATE = 0.01
}