includeConfig 'singularity.config'

singularity {
    runOptions = "--bind $PWD/src:/opt/sequential-gwas/src"
}

process {
    errorStrategy = {task.exitStatus in [137] ? 'retry' : 'finish'}
    maxRetries = 3

    withLabel: 'multithreaded' {
        cpus = 1
    }
    
    withLabel: 'hyperthreaded' {
        cpus = 1
    }
}