includeConfig 'docker.config'

docker {
    runOptions = "--platform linux/amd64 --volume $PWD:/opt/sequential-gwas"
}

process {
    errorStrategy = {task.exitStatus in [137] ? 'retry' : 'finish'}
    maxRetries = 3
}

params.JULIA_CMD = "julia --project=/opt/sequential-gwas --startup-file=no /opt/sequential-gwas/bin/seq-gwas.jl"