includeConfig 'docker.config'

docker {
    runOptions = "--platform linux/amd64 --volume $PWD:/opt/genomicc-workflows"
}

process {
    errorStrategy = {task.exitStatus in [137] ? 'retry' : 'finish'}
    maxRetries = 3

    withLabel: 'multithreaded' {
        cpus = 1
    }
    
    withLabel: 'hyperthreaded' {
        cpus = 1
    }

}