includeConfig 'singularity.config'

executor {
    queue = 'standard'
}

process {
    memory = { 8.GB * task.attempt }
    time = { 48.hour }
    cpus = 1

    withLabel: 'multithreaded' {
        memory = { 8.GB * task.attempt }
        time = { 48.hour }
        cpus = 8
    }

    executor = 'slurm'

    beforeScript = """
    export PATH="/usr/bin:$PATH"
    unset XDG_RUNTIME_DIR
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """

    errorStrategy = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
    maxErrors = '-1'
    maxRetries = 3
}